flows/.dashboard.json.backup
[
    {
        "id": "e692544aa3fd13e6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "sensors-tab",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "dashboard-group",
        "type": "ui_group",
        "name": "Industrial Dashboard",
        "tab": "sensors-tab",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "9af4d4924f7d71e0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2e835f97248a5e93",
        "type": "websocket in",
        "z": "e692544aa3fd13e6",
        "name": "WAMP Data Receiver",
        "server": "wss://localhost:8080",
        "client": "",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "3fa35312d8884f0a",
                "df58deefee032174"
            ]
        ]
    },
    {
        "id": "3fa35312d8884f0a",
        "type": "function",
        "z": "e692544aa3fd13e6",
        "name": "Parse WAMP Messages",
        "func": "// Bulletproof WAMP Parser - handles ALL common formats\ntry {\n    const raw = msg.payload;\n\n    // Case 1: Standard WAMP format [16, id, details, topic, data]\n    if (Array.isArray(raw) && raw.length >= 5 && raw[0] === 16) {\n        return {\n            payload: {\n                temperature: raw[4].temp || raw[4].temperature || 0,\n                humidity: raw[4].hum || raw[4].humidity || 0,\n                timestamp: new Date().toLocaleTimeString()\n            }\n        };\n    }\n    // Case 2: Simple {topic, payload} format\n    else if (raw.topic) {\n        return {\n            payload: {\n                temperature: raw.payload.temp || raw.payload.temperature || 0,\n                humidity: raw.payload.hum || raw.payload.humidity || 0,\n                timestamp: new Date().toLocaleTimeString()\n            }\n        };\n    }\n    // Case 3: Direct sensor data (fallback)\n    else {\n        return {\n            payload: {\n                temperature: raw.temp || raw.temperature || 0,\n                humidity: raw.hum || raw.humidity || 0,\n                timestamp: new Date().toLocaleTimeString()\n            }\n        };\n    }\n} catch (e) {\n    node.error(\"Parser error - invalid format:\", { error: e, payload: raw });\n    return null;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "565b9bec2a53981f",
                "98680e8d860f7e13"
            ]
        ]
    },
    {
        "id": "565b9bec2a53981f",
        "type": "ui_template",
        "z": "e692544aa3fd13e6",
        "group": "dashboard-group",
        "name": "Sensor Dashboard",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<div style='font-family: Arial; padding: 20px'>\n    <h2>Industrial IoT Monitor</h2>\n    <div style='display: flex; gap: 20px'>\n        <div style='flex: 1; background: #f0f0f0; padding: 15px; border-radius: 5px'>\n            <h3>Temperature</h3>\n            <div style='font-size: 24px'>\n                {{msg.payload.temperature || '--'}} °C\n            </div>\n        </div>\n        <div style='flex: 1; background: #f0f0f0; padding: 15px; border-radius: 5px'>\n            <h3>Humidity</h3>\n            <div style='font-size: 24px'>\n                {{msg.payload.humidity || '--'}} %\n            </div>\n        </div>\n    </div>\n    <div style='color: #888; margin-top: 20px'>\n        Last update: {{msg.timestamp || 'Never'}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f39b690b4703e689",
        "type": "inject",
        "z": "e692544aa3fd13e6",
        "name": "Test Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "{\"temperature\":25.3,\"humidity\":42}",
        "payloadType": "json",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "565b9bec2a53981f"
            ]
        ]
    },
    {
        "id": "df58deefee032174",
        "type": "debug",
        "z": "e692544aa3fd13e6",
        "name": "Raw WAMP Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "98680e8d860f7e13",
        "type": "debug",
        "z": "e692544aa3fd13e6",
        "name": "Parsed Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 280,
        "wires": []
    }
]